<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/e3e43cc4-eca7-4a30-8e52-001b3ce842b3/resourceGroups/rg-puzzle-test/providers/Microsoft.ContainerRegistry/registries/crge11</ResourceId>
    <ResourceName>crge11</ResourceName>
    <ResourceGroup>rg-puzzle-test</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>crge11.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>22a14a07-a8db-494e-98f9-c7b19ba55549</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>